<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%date{yyyy-MM-dd HH:mm:ss}}{blue} [%thread] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan} %logger{36} - %message%n"
                    disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <!-- Muestra los logs de debug en el paquete especificado -->
        <Logger name="org.barrikeit" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <logger name="org.springframework" level="ERROR"/>
        <logger name="org.hibernate" level="ERROR"/>
        <logger name="com.zaxxer.hikari" level="ERROR"/>
    </Loggers>
</Configuration>